body, html {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: wheat;
}

#Pistola {
    position: fixed;
    left: 50%;
    background: transparent;
    width: 150px; 
    height: 150px;
    transform: translate(-50%, 15%) rotate(90deg);
    z-index: 3;
}

#tiroBlanco {
    position: fixed;
    left: 50%;
    top: 520px;
    width: 40vw;
    height: 200px;
    transform: translateX(-50%) rotate(180deg);
    z-index: 1;
    background: url("tiroBlanco.png") center / cover;
    display: grid;
    place-items: center;
    transition: left 3s ease-out;
}

#fondo {
    position: fixed;
    transform: rotate(90deg);
    width: 900px;
    height: 900px;
    background: url("woodTexture.jpg") center / 80px repeat;
    filter: brightness(0.6);
    opacity: 0.9;
    z-index: 0;
}

#limitePistola {
    position: fixed;
    filter: brightness(0.7);
    opacity: 0.7;
    width: 100vw;
    height: 150px;
    top: 25px;
    z-index: 1;
}

#bala {
    position: fixed;
    top: 85px;
    left: 50%;
    width: 30px;
    height: 30px;
    z-index: 2;
    transform: translate(-50%, 5%) rotate(180deg);
    pointer-events: none;
}

#gatiyo {
    position: fixed;
    background: transparent;
    width: 100%;
    height: 40%;
    border: none;
    z-index: 5;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    pointer-events: auto !important;
}

#deslizable {
    z-index: 6;
    width: 70vw;
    transform: translateX(-50%);
    position: fixed;
    top: 670px;
    left: 50%;
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    -webkit-tap-highlight-color: transparent;
    background: #52154ad9;
    border-radius: 30px;
    pointer-events: auto !important;
    touch-action: pan-x;
}

#deslizable::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 50px;
    background: #0e520fb2;
    border-radius: 30%;
    cursor: pointer;
}

#barrita {
    background: #a55;
    width: 5%;
    height: 500px;
    box-sizing: border-box;
    position: fixed;
    left: 93%;
    top: 120px;
    z-index: 5;
    border: solid 3px #a11;
    border-radius: 10px;
}

#atrasBarrita {
    background: #33c;
    width: 5%;
    height: 500px;
    box-sizing: border-box;
    position: fixed;
    left: 93%;
    top: 120px;
    z-index: 6;
    border: solid 3px #11a;
    border-radius: 10px;
}
