body, html {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    height: 100%;
    background: wheat;
}

#Pistola {
    position: fixed;
    left: 50%;
    background: transparent;
    width: 40vw; 
    height: 20vh;
    transform: translate(-50%, 5%) rotate(90deg);
    z-index: 2;
}

#tiroBlanco {
    position: fixed;
    left: 50%;
    width: 40vw;
    height: 20vh;
    transform: translate(-50%, 75vh) rotate(180deg);
    z-index: 2;
}

#fondo {
    position: fixed;
    transform: rotate(90deg);
    width: 100vmax;
    height: 100vmax;
    background: url("woodTexture.jpg") center / 80px repeat;
    filter: brightness(0.6);
    opacity: 0.9;
    z-index: 0;
}

#limitePistola {
    position: fixed;
    filter: brightness(0.7);
    opacity: 0.7;
    width: 100vw;
    height: 23vh;
    z-index: 1;
}

#bala {
    position: fixed;
    top: 85px;
    left: 50%;
    width: 30px;
    height: 30px;
    z-index: 1;
    transform: translate(-50%, 5%) rotate(180deg);
}

#gatiyo {
    position: fixed;
    background: transparent;
    width: 100%;
    height: 40%;
    border: none;
    z-index: 3;
}

